.app{
    .header{
        background-color: blue;
        padding: 20px 40px;
        a{
            color: white;
            text-decoration:none;
            padding-inline-end: 20px;

        }
    }
}